GROQ_API_KEY="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"
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwiZXhwIjoxNzQ1ODQyMjM1fQ.J_Xr2uvTw5V1k_EaM8OaHczTgYArxhN5g_cjH8Sq_uA"
QDRANT_URL="https://8d0c91fa-1526-4c29-ad8c-dd0b3bf3f995.europe-west3-0.gcp.cloud.qdrant.io"
GEMINI_API_KEY='AIzaSyBZax5JfvU7UXmJ8cYBG0sPf6X9EoM0oIA'